WSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/EclipsePrueba/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSDLFile" targetNamespace="http://localhost/EclipsePrueba/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/EclipsePrueba/">
      <xsd:element name="GetJugador">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="idJugador" type="xsd:int" />
          	<xsd:element name="nombreJugador" type="xsd:string"></xsd:element>
          	<xsd:element name="nacionalidad" type="xsd:string"></xsd:element>
          	<xsd:element name="dorsal" type="xsd:int"></xsd:element>
          	<xsd:element name="equipo" type="tns:EquipoType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetJugadorResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="idJugador" type="xsd:int" />
          	<xsd:element name="nombreJugador" type="xsd:string"></xsd:element>
          	<xsd:element name="nacionalidad" type="xsd:string"></xsd:element>
          	<xsd:element name="dorsal" type="xsd:int"></xsd:element>
          	<xsd:element name="equipo" type="tns:EquipoType"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="EquipoType">
      	<xsd:sequence>
      		<xsd:element name="idEquipo" type="xsd:int"></xsd:element>
      		<xsd:element name="nombreEquipo" type="xsd:string"></xsd:element>
      		<xsd:element name="liga" type="xsd:string"></xsd:element>
      		<xsd:element name="ciudad" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetJugadorRequest">
    <wsdl:part element="tns:GetJugador" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetJugadorResponse">
    <wsdl:part element="tns:GetJugadorResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="WSDLFile">
    <wsdl:operation name="GetJugador">
      <wsdl:input message="tns:GetJugadorRequest"/>
      <wsdl:output message="tns:GetJugadorResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDLFileSOAP" type="tns:WSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetJugador">
      <soap:operation soapAction="http://localhost/EclipsePrueba/GetJugador"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDLFile">
    <wsdl:port binding="tns:WSDLFileSOAP" name="WSDLFileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
